# Template Defaults

# Base URL of the application
# Local: http://localhost:8126
# Prod: https://yourdomain.com
NEXT_PUBLIC_SITE_URL="http://localhost:8126"

# (Optional) Add your third-party analytics or CMS tokens below
# NEXT_PUBLIC_POSTHOG_KEY=
# CONTENTFUL_SPACE_ID=

# This ENV is AI generated. In reality, the project doesn't need env files.
# But, following best practices, I've kept this for your reference.
